<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVxzOoJQPj4i7rfIhBSWTmOx3nDydtOIA</string>
	<key>GCM_SENDER_ID</key>
	<string>740003418356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>casteloewerson.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4f1d6</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4f1d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740003418356:ios:1442ac0ef256304c304ea1</string>
</dict>
</plist>